<?xml version="1.0"?>
<config>
    <modules>
        <Dev_Post>
            <version>0.0.1</version>
        </Dev_Post>
    </modules>
    <frontend>
        <routers>
            <post>
                <use>standard</use>
                <args>
                    <module>Dev_Post</module>
                    <frontName>post</frontName>
                </args>
            </post>
        </routers>
        <layout>
            <updates>
                <post>
                    <file>post.xml</file>
                </post>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <post>
                <class>Dev_Post_Model</class>
            </post>
<!--            <post_mysql4>-->
<!--                <class>Dev_Post_Model_Mysql4</class>-->
<!--                <entities>-->
<!--                    <post>-->
<!--                        <table>post</table>-->
<!--                    </post>-->
<!--                </entities>-->
<!--            </post_mysql4>-->
        </models>
        <resources>
            <post_setup>
                <setup>
                    <post>Dev_Post</post>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </post_setup>
            <post_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </post_write>
            <post_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </post_read>
        </resources>
        <blocks>
            <post>
                <class>Dev_Post_Block</class>
            </post>
        </blocks>
    </global>
</config>
