<?xml version="1.0"?>
<config>
    <modules>
        <Dev_Profile>
            <version>0.0.1</version>
        </Dev_Profile>
    </modules>
    <frontend>
        <routers>
            <profile>
                <use>standard</use>
                <args>
                    <module>Dev_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
    </frontend>
    <global>
    	<rewrite>
            <profile_user>
                <from><![CDATA[#^/profile/user/#]]></from>
                <to>/profile/user/</to>
            </profile_user>
        </rewrite>
        <models>
<!--            <profile>-->
<!--                <class>Dev_Profile_Model</class>-->
<!--            </profile>-->
<!--            <post_mysql4>-->
<!--                <class>Dev_Post_Model_Mysql4</class>-->
<!--                <entities>-->
<!--                    <post>-->
<!--                        <table>post</table>-->
<!--                    </post>-->
<!--                </entities>-->
<!--            </post_mysql4>-->
        </models>
        <resources>
            <profile_setup>
                <setup>
                    <profile>Dev_Profile</profile>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profile_setup>
            <profile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profile_write>
            <profile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profile_read>
        </resources>
        <blocks>
            <profile>
                <class>Dev_Profile_Block</class>
            </profile>
        </blocks>
    </global>
</config>
